@-ms-viewport{
  width: device-width;
}

div.fullWidth
	{
	width: 100%;
	}
	
   
		
	#header h1 {
			font-size: 70%;
		}

	#content	 
		{
			float: none;
			width: 100%;
		}

	#navigation 
			{
			float:none;
			width: auto;
			}
   

